{% extends "base.html.twig" %}

{% block title %}
    Accueil | {{ parent() }}
{% endblock %}

{% block body %}
	<div class="body-page about-page">
		{% if successMessage %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ successMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
		{% elseif errorMessage %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ errorMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
		{% if invalidCSRFMessage %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ invalidCSRFMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
		{% endif %}

		<h2 class="title-about-me h1"><img src="img/logo.png" width="60" alt="logo CF"> Qui suis-je ?</h2>

		<div class="row justify-content-center mb-4">
			<div class="col-md-3">
				<div class="card shadow">
					<img src="/img/JavaScript.png" class="card-img-top" alt="logo de javascript">
					<div class="card-body">
						<h3 class="card-title h5">Javascript</h3>
						<p class="card-text">Je développe en javascript avec le framework Vue.js.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow">
					<img src="/img/php-symfony-mysql-sample.png" class="card-img-top" alt=".logos de PHP et Symfony">
					<div class="card-body">
						<h3 class="card-title h5">PHP et Symfony</h3>
						<p class="card-text">Je développe côté serveur en utilisant PHP et Symfony.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow">
					<img src="/img/css.png" class="card-img-top" alt="logo de CSS et HTML">
					<div class="card-body">
						<h3 class="card-title h5">CSS et HTML</h3>
						<p class="card-text">J'intègre des maquettes que je réalise sur figma.</p>
					</div>
				</div>
			</div>
		</div>
		<p class="lead">
			Développeuse web fullstack, je développe des projets en PHP avec le framework Symfony, par exemple un blog, 
			une application à destination des auteurs et des créateurs de campagne de jeu de rôle 
			(gestion des lieux, des personnages, galerie, partie encyclopédie avec des types d'articles personnalisés), 
			j'ai aussi travaillé sur un forum et sur une application à destination des organisateurs d'événements (avec gestion des ressources,
			des événements, envois de mails et SMS).
		</p>

		<h2 class="title-about-me h1 mt-5">Contactez-moi</h2>
		<p class="text-center">
			<a href="https://www.linkedin.com/in/c%C3%A9line-foucart-a177b115a/" title="linkedin" class="social-icon">
				<span class="sr-only">linkedin</span>
				<i class="fa-fw fab fa-linkedin"></i>
			</a>
			<a href="https://github.com/CelineFoucart" title="github" class="social-icon">
				<span class="sr-only">github</span>
				<i class="fa-fw fab fa-github"></i>
			</a>
		</p>
		<p class="text-center">Envie d'en savoir plus ? Télécharger mon <a href="/assets/CV_Céline_Foucart.pdf">CV</a> ou remplissez le formulaire suivant pour m'envoyer un message.</p>
		<form action="" method="post" class="needs-validation" novalidate>
			<div class="row">
				<div class="col-md-6">
					{{ form.fields.firstname|raw }}
				</div>
				<div class="col-md-6">
					{{ form.fields.lastname|raw }}
				</div>
			</div>
			{{ form.fields.email|raw }}
			{{ form.fields.message|raw }}
			{{ form.fields.agreeTerms|raw }}
			{{ form.fields.csrf|raw }}
			{{ form.button|raw }}
		</form>
	</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/form-validation.js"></script>
{% endblock %}