<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ post.id }}">
    <i class="fas fa-pencil-alt"></i> Supprimer
</button>

<div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ post.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('app_admin_post_delete', {id: post.id }) }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="deleteModalLabel{{ post.id }}">Suppression d'un article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-danger text-start fw-bold">Voulez-vous vraiment supprimer "{{ post.title }}" ? Attention, cette action est irréversible.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger btn-sm">Confirmer la suppression</button>
                </div>
            </form>
        </div>
    </div>
</div>