{% if comment.isValidated %}
	<span role="button" class="badge bg-success" data-bs-toggle="modal" data-bs-target="#statusModal{{ comment.id }}">Validé</span>
{% else %}
	<span role="button" class="badge bg-danger" data-bs-toggle="modal" data-bs-target="#statusModal{{ comment.id }}">Non validé</span>
{% endif %}
<div class="modal fade" id="statusModal{{ comment.id }}" tabindex="-1" aria-labelledby="modalStatusLabel{{ comment.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title h5" id="modalStatusLabel{{ comment.id }}">Commentaire du {{ comment.createdAt|date('d/m/Y à H:i') }}</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{{ path('app_admin_comment_status', {id: comment.id}) }}" method="post">
                <div class="modal-body">
                    <h4 class="h5">Valider un commentaire</h4>
                    <div class="truncate-container bg-light border p-1 mb-2">
                        <div class="truncate-title">{{ truncate(comment.content, 90) }}</div>
                        <div class="truncate-full">
                            {{ comment.content|nl2br }}
                        </div>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" 
                            type="checkbox" id="validate-{{ comment.id }}" 
                            name="isValidated" {{ comment.isValidated ? 'checked' : '' }}>
                        <input type="hidden" name="redirect" value="{{ request_uri }}">
                        <label class="form-check-label" for="validate-{{ comment.id }}">
                            Valider le commentaire de {{ comment.author.username }}
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
            </form>
		</div>
	</div>
</div>
