{% extends "base.html.twig" %}

{% block title %}
    Actualité | {{ parent() }}
{% endblock %}

{% block body %}
<div class="row gap">
    <div class="col-md-7 col-lg-8 body-page news">
        {% for post in pagination.elements %}
            <article class="border-bottom pb-3 mb-2">
                <header>
                    <h2 class="h4">{{ post.title }}</h2>
                    <p class="date text-muted">
                        <i class="fas fa-user me-1"></i> <strong class="author me-2">{{ post.author.username }}</strong> 
                        <i class="fas fa-calendar-alt me-1"></i><strong>{{ post.updatedAt|date('d/m/Y H:i') }}</strong>
                    </p>
                </header>
                <div class="content">
                    <p>{{ post.description|nl2br }}</p>
                </div>
                <footer>
                    <a href="{{ path('app_article_show', {slug: post.slug}) }}" class="button">Voir l'article →</a>
                </footer>
            </article>
        {% endfor %}

        {% set count = pagination.count %}
        <p>
            <strong>{{ count }}</strong> article{{ count > 1 ? 's' : '' }} sur 
            <strong>{{ pagination.numberItems }}</strong> article{{ pagination.numberItems > 1 ? 's' : '' }}.
        </p>

        {{ pagination(pagination) }}
    </div>

    {% include "includes/_aside.html.twig" %}
</div>
{% endblock %}