{% extends "base.html.twig" %}

{% block title %}
    Consulter un article | {{ parent() }}
{% endblock %}

{% block body %}
<div class="row gap">
    <div class="col-md-7 col-lg-8 body-page news">
        <article>
            <p class="mb-0 text-end">
                <a href="{{ path('app_article_index') }}" class="text-decoration-none">
                    <i class="fas fa-arrow-left me-1"></i> Retour à la liste des articles
                </a>
            </p>
            <header>
                <h2 class="h4">{{ post.title }}</h2>
            </header>
            <div class="content">
                <p>{{ post.description|nl2br }}</p>

                {{ post.content|nl2br }}
            </div>
            <div class="post-footer">
                <p><strong>Publication :</strong> le {{ post.createdAt|date('d/m/Y à H:i') }}, par {{ post.author.username }}</p>
                <p><strong>Dernière mise à jour :</strong> le {{ post.updatedAt|date('d/m/Y à H:i') }}</p>
            </div>
        </article>

        <article class="comments">
            <h2 class="comment-title">3 commentaires</h2>

            <div class="comment">
                <h3 class="author">Bibu</h3>
                <p class="date-comment">Publié le 30/10/20</p>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda fugiat
                    suscipit commodi dicta. Ea quae facere quis incidunt at enim nesciunt cupiditate
                    perspiciatis aperiam. Alias rem, saepe id quidem?</p>
            </div>
            <div class="comment">
                <h3 class="author">Bibu</h3>
                <p class="date-comment">Publié le 30/10/20</p>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda fugiat
                    suscipit commodi dicta. Ea quae facere quis incidunt at enim nesciunt cupiditate
                    perspiciatis aperiam. Alias rem, saepe id quidem?</p>
            </div>
            <div class="comment">
                <h3 class="author">Bibu</h3>
                <p class="date-comment">Publié le 30/10/20</p>
                <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse assumenda fugiat
                    suscipit commodi dicta. Ea quae facere quis incidunt at enim nesciunt cupiditate
                    perspiciatis aperiam. Alias rem, saepe id quidem?</p>
            </div>

            <h2 class="comment-title h4">Laissez un commentaire</h2>
            <form action="" method="post" class="comment-form">
                <div class="mb-3">
                    <label for="pseudo">Pseudo<sup>*</sup></label>
                    <input type="text" class="form-control" id="pseudo" aria-describedby="pseudo" name="pseudo"
                        placeholder="pseudo" required>
                </div>
                <div class="mb-3">
                    <label for="contentComment">Commentaire<sup>*</sup></label>
                    <textarea class="form-control" id="contentComment" name="contentComment"
                        placeholder="votre commentaire..." rows="5" required></textarea>
                </div>
                <button type="submit" class="button">Soumettre</button>
            </form>
        </article>
    </div>

    {% include "includes/_aside.html.twig" %}
</div>
{% endblock %}