{% extends "base.html.twig" %}

{% block title %}
    Consulter un article | {{ parent() }}
{% endblock %}

{% block body %}
<div class="body-page news">
    <article>
        <p class="mb-0 text-end">
            <a href="{{ path('app_article_index') }}" class="text-decoration-none">
                <i class="fas fa-arrow-left me-1"></i> Retour à la liste des articles
            </a>
        </p>
        <header>
            <h2 class="h4">{{ post.title }}</h2>
        </header>
        <div class="content">
            <p>{{ post.description|nl2br }}</p>

            {{ post.content|nl2br }}
        </div>
        <div class="post-footer">
            <p><strong>Publication :</strong> le {{ post.createdAt|date('d/m/Y à H:i') }}, par {{ post.author.username }}</p>
            <p><strong>Dernière mise à jour :</strong> le {{ post.updatedAt|date('d/m/Y à H:i') }}</p>
        </div>
    </article>

    <article class="comments">
        {% set total_comment = commentPagination.numberItems ? commentPagination.numberItems : 0 %}
        <h2 class="comment-title">{{ total_comment }} commentaire{{ total_comment > 1 ? 's' : '' }}</h2>

        {% for comment in commentPagination.elements %}
            {% include "comment/_comment_card.html.twig" %}
        {% else %}
            <p class="text-muted text-center">Aucun commentaire n'a été publié sur cet article.</p>
        {% endfor %}

        {{ pagination(commentPagination) }}
        
        
        <h2 class="comment-title h4">Laissez un commentaire</h2>

        {% if is_logged() %}
            <form action="" method="post" class="comment-form">
                {# Poster avec le pseudo <strong>Pseudo</strong> #}
                <div class="mb-3">
                    <label for="contentComment">Commentaire<sup>*</sup></label>
                    <textarea class="form-control" id="contentComment" name="contentComment"
                        placeholder="votre commentaire..." rows="5" required></textarea>
                </div>
                <button type="submit" class="button">Soumettre</button>
            </form>
        {% else %}
            <p class="text-danger text-center">Pour poster un commentaire, connectez-vous.</p>
        {% endif %}
    </article>
</div>
{% endblock %}