{% extends "base.html.twig" %}

{% block title %}
    Consulter un article | {{ parent() }}
{% endblock %}

{% block body %}
<div class="body-page news">
    <article>
        <p class="mb-0 text-end">
            <a href="{{ path('app_article_index') }}" class="text-decoration-none">
                <i class="fas fa-arrow-left me-1"></i> Retour à la liste des articles
            </a>
        </p>
        {% if errorMessage %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                L'enregistrement du commentaire a échoué. {{ errorMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elseif successMessage %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ successMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if invalidCSRFMessage %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ invalidCSRFMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
		{% endif %}
        <header>
            <h2 class="h4">
                {{ post.title }}
                {% if is_admin() %}
                    <a href="{{ path('app_admin_post_edit', {id: post.id}) }}" title="éditer" class="text-decoration-none">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% endif %}
            </h2>
        </header>
        <div class="content">
            <p>{{ post.description|nl2br }}</p>

            {{ post.content|parse_bbcode }}
        </div>
        <div class="post-footer">
            <p><strong>Publication :</strong> le {{ post.createdAt|date('d/m/Y à H:i') }}, par {{ post.author.username }}</p>
            <p><strong>Dernière mise à jour :</strong> le {{ post.updatedAt|date('d/m/Y à H:i') }}</p>
        </div>
    </article>

    <article class="comments">
        <div class="card shadow mt-5">
            <div class="card-header">
                {% set total_comment = commentPagination.numberItems ? commentPagination.numberItems : 0 %}
                <h2 class="card-title mb-0 h4">{{ total_comment }} commentaire{{ total_comment > 1 ? 's' : '' }}</h2>
            </div>
            <div class="card-body">
                {% for comment in commentPagination.elements %}
                    {% include "comment/_comment_card.html.twig" %}
                {% else %}
                    <p class="text-muted text-center">Aucun commentaire n'a été publié sur cet article.</p>
                {% endfor %}
                {{ pagination(commentPagination) }}
            </div>

            <div class="card-footer">
                {% if is_logged() %}
                    {% include "comment/_comment_form.html.twig" %}
                {% else %}
                    <p class="text-center">
                        Pour poster un commentaire, <a href="{{ path('app_login') }}">connectez-vous</a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a>.
                    </p>
                {% endif %}
            </div>
        </div>
    </article>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/form-validation.js"></script>
{% endblock %}